.greyBackground
{
	background-color: LightGrey;
}

.blueBackground
{
	background-color: LightBlue;
}

.redBackground
{
	background-color: Red;
}

.row > div
{
	border: 1px solid black;
}
